.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    &_purple {
        // padding: 19px 60px;
        // width: 211px;
        // height: 60px;
        background-color: var(--second-color);
    }
}